NHibernateLearning/.vs/
NHibernateLearning/NHibernateLearning/bin/
NHibernateLearning/NHibernateLearning/obj/
NHibernateLearning/packages/
NHibernateLearning/NHibernateConsole/bin/
NHibernateLearning/NHibernateConsole/obj/
