<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="connectionStringKey" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Z:\calrom\Learning\NHibernateLearning\NHibernateLearning\NHibernateConsole\App_Data\NHibernateLearning.mdf;Integrated Security=True" />
    <!--<add name="connectionStringKey" connectionString="Server=SHAHEEN;Database=NHibernateLearning;Trusted_Connection=True" />-->
    <!--Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Z:\calrom\Learning\NHibernateLearning\NHibernateLearning\NHibernateConsole\App_Data\NHibernateLearning.mdf;Integrated Security=True-->
  </connectionStrings>

</configuration>